<!DOCTYPE html>
<html lang="es" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guia Telefonica COTEOR</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>   
        .container {
        width: auto;
        max-width: 680px;
        padding: 0 15px;
        }

        .footer {
        background-color: #f5f5f5;
        }
    </style>

</head>
<body class="d-flex flex-column h-100">
<main id="app" role="main" class="flex-shrink-0 mt-5">
    <div class="container">

        <h1>Guia Telefónica COTEOR</h1>
        <hr>
       
        <form class="form"  @submit.prevent="listar">
            <div class="input-group mb-3">
                <input type="text" required class="form-control" id="txtBuscar" v-model="txtBuscar" placeholder="Escriba un télefono o un nombre" maxlength="100" pattern=".{3,}" required title="Escriba 3 o mas números o letras por favor">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" disabled v-if='loading'>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Buscando...
                    </button>

                    <button class="btn btn-primary" type="submit" id="button-addon2" v-else>Buscar</button>

                </div>
            </div>
        </form>

        <div class="table-responsive">
            
            <p class="text-center text-muted" v-if="!loading">{{ lista.length }} contactos encontrados</p>

            <table class="table table-striped table-bordered" v-if="lista.length">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Dirección</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(row, index) in lista" :key="index">
                        <th scope="row">{{ index+1 }}</th>
                        <td><a :href="'tel:01011'+row.phone">{{ row.phone }}</a></td>
                        <td>{{ row.name }}</td>
                        <td>{{ row.address }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</main>


<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">&copy; Saul Mamani M.</span>
  </div>
</footer>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el:"#app",
        data:{
            txtBuscar: '',
            loading: false,
            lista: []
        },
        methods: {
            listar(){
                let url = 'https://coteorbackend.herokuapp.com/api/guias?txtBuscar=' + this.txtBuscar;
                this.lista = [];

                //loading
                this.loading = true;

                axios.get(url).then(response => {
                    this.lista = response.data;
                    this.loading = false;
                }).catch(e => {
                    console.log(e.response.data);
                    this.loading = false;
                });
            }
        },
    })
</script>
</html>